# React application
node_modules/*
package-lock.json
coverage/

# Flask application
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

# editor files
.idea/*

dist/
build/
*.egg-info/
